@using Accounting.Utilities
@using Accounting.Helper
@model IEnumerable<Accounting.Models.ViewModels.AccountViewModel>

@{
    Layout = null;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remark)
        </th>
    </tr>

    @{ var num = 1;}

    @foreach (var item in Model)
      {
            <tr>
                <td>
                    @num
                </td>

                 @Html.FormateAccountTypeColor((int)(item.Type))

                <td>
                    @Html.DisplayFor(modelItem => item.AccountDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AmountMoney)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.remark)
                </td>
            </tr>

           num++;
      }

</table>
